/*========== VAR CSS ===========*/
:root{
   /* Conflowerblue mono */
   --Cornflowerblue-darker: #2E446E;
   --Cornflowerblue-dark: #4E74BA;
   --Cornflowerblue: #6494ED;
   --Cornflowerblue-light: #7caaff;
   --Cornflowerblue-contrast: #5BE4F7;

   /* Gray shades*/
   --gray-darker: #404040;
   --gray-darker: #808080;
   --gray: #BFBFBF;
   --gray-light: #E6E6E6;
   --White: #FFFFFF;
}

/*========== RESET ===========*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: monospace;
   background: var(--gray-light);
   color: var(--gray-light);
   margin-top: 3.75rem;
}

a{
   text-decoration: none;
}


/*========== HEADER ===========*/
.header{
   background-color: var(--Cornflowerblue);
   position: fixed;
   top: 0;
   width: 100%;
   box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
}

.header__container{
   height: 3.75rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.875rem;
}

.header__logo{
   color: var(--White);
   padding: 1.17rem 0;
   font-size: 1.125rem;
   font-weight: 900;
}

.header__toggle{
   font-size: 1.25rem;
   cursor: pointer;
   transition: .4s ease-in-out;
}

/*========== NAV ===========*/
.nav{
   background-color: var(--Cornflowerblue-light);
   box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
   position: fixed;
   top: 0;
   left: 0;
   width: 19rem;
   transition: .4s ease-in-out;
}

.nav__container{
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: auto;
   scrollbar-width: none; /*For mozila*/
}

.nav__container::-webkit-scrollbar {/* For Google Chrome and others */
   display: none;
 }

.nav__logo-link{
   color: var(--White);
   padding: 1.17rem;
   font-size: 1.125rem;
}

.nav__logo-name{
   font-weight: 900;
}

.nav__list{
   width: 100%;
}

.nav__items{
   width: 100%;
   margin: 2.5rem 0;
}

.nav__link{
   display: flex;
   align-items: center;
   color: var(--gray-light);
   padding: 1.25rem;
   width: 100%;
   font-size: 1rem;
}

.nav__link:hover{
   color: var(--White);
}

.nav__icon{
   font-size: .875rem;
   width: 1.25rem;
   text-align: center;
}

.nav__name{
   width: 100%;
   margin: 0 .313rem 0 .625rem;
}

.nav__subtitle{
   padding: 0 1.563rem;
   margin-bottom: .813rem;
   text-transform: uppercase;
   font-size: .625rem;
   letter-spacing: .1rem;
   color: rgb(97, 127, 184);
}


/*Link Active*/
.active{
   border-left: 0.375rem solid var(--Cornflowerblue-contrast);
   color: var(--White);
   padding-left: 1rem;
}

/* Hiden sidebar*/
.nav--hiden{
   left: -19rem;
}

/*========== MAIN ===========*/
.main{
   color: var(--Cornflowerblue-dark);
   min-height: calc(100vh - 3.75rem);
   margin-left: 19rem;
   transition: .4s ease-in-out;
   padding: 3.75rem;
   overflow: hidden;
}

.main__painel{
   display: flex;
   justify-content: space-between;
}

.main__title{
   color: var(--Cornflowerblue-darker);
}

.main__att{
   font-style: italic;
   color: var(--gray-darker);
}

.main__btn{
   background-color: var(--White);
   padding: .625rem;
   border-radius: .625rem;
   font-weight: 600;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
}

.main__btn:hover{
   background-color: var(--Cornflowerblue-light);
   color: var(--White);
}

.main__icon{
   font-size: 1.125rem;
   margin-right: .5rem;
}

.main__painel-boxs{
   display: flex;
   flex-wrap: wrap;
   margin-top: 3.75rem;
}

.main__participantes{
   min-width: 18.75rem;
   height: 12.5rem;
   background-color: var(--Cornflowerblue);
   color: var(--White);
   padding: 1.875rem;
   margin-right: 1.875rem;
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
}

.main__participantes-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 60%;
}

.main__participantes-icon{
   text-align: right;
   font-size: 3rem;
   margin-top: -95px;
   margin-left: 130px;
   width: 40%;
   color: var(--Cornflowerblue-light);
}

.main__alunos{
   font-size: 1.25rem;
   font-weight: bold;
   color: var(--gray-light);
}

.main__alunos-qt{
   font-size: 2.5rem;
   font-weight: bold;
}

.main__participaram{
   font-size: .875rem;
   font-weight: bold;
   color: var(--gray-light);
   margin-top: .938rem;
}

.main__participaram-qt{
   font-size: 1.875rem;
   font-weight: bold;
}

.main__table{
   background-color: var(--White);
   width: 100%;
   height: 25rem;
   margin-top: 1.875rem;
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
   overflow: auto;
}

.main__subtitle{
   font-size: 1.75rem;
   color: var(--Cornflowerblue-darker);
   margin-top: 1.875rem;
   border-left: 5px solid cornflowerblue;
   padding-left: .625rem;
}

.main__educacao-container{
   display: flex;
}

.main__educacao{
   background-color: var(--White);
   width: 31.25rem;
   height: 25rem;
   margin: 1.875rem 1.875rem 1.875rem 0;
   flex: 1;
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
}

.main__educacao1{
   background-color: var(--White);
   width: 31.25rem;
   height: 25rem;
   margin: 1.875rem 1.875rem 1.875rem 0;
   flex: 1;
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
}

.main__educacao2{
   background-color: var(--White);
   width: 31.25rem;
   height: 25rem;
   margin: 1.875rem 0 1.875rem 0;
   flex: 1;
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
}














.main__participantes2{
   min-width: 18.75rem;
   height: 12.5rem;
   margin-right: 1.875rem;
   background-color: var(--White);
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
   flex: 1;
}

.main__participantes3{
   min-width: 18.75rem;
   height: 12.5rem;
   background-color: var(--White);
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
   flex: 1;
}






/* Show menu */
.main--move{
   margin-left: 0;
   transition: .4s ease-in-out;
   overflow: hidden;
}

