/*========== MEDIA QUERIES ===========*/
@media screen and (max-width: 1024px){
   .container{
      padding: 1.875rem;
   }

   .main__cards{
      flex-wrap: wrap;
   }

   .main__participantes{
      margin: 0 1.875rem 1.875rem 0;
   }

   .main__charts{
      margin: 0 0 1.875rem 0;
   }
}

@media screen and (max-width: 768px){
   .container{
      padding: 1.875rem;
   }

   .main__cards{
      flex-wrap: wrap;
      flex-direction: column;
   }

   .main__subtitle{
      font-size: 1.875rem;
      color: #2E446E;
      margin-top: 0;
   }

   .main__participantes-dados{
      display: block;
   }

   .main__charts{
      margin: 0 0 1.875rem 0;
      padding: .625rem;
   }

   .main__charts:first-child{
      margin-right: 0;
   }
}

@media screen and (max-width: 425px){
   .container{
      padding: 1.875rem;
   }

   .header{
      padding: 0 1.875rem;
   }

   .nav__link{
      padding: 1.25rem;
   }

   .nav__logo-link{
      padding: 1.188rem;
   }

   .active{
      border-left: 0.375rem solid var(--Cornflowerblue-contrast);
      color: var(--White);
      padding: 1.25rem calc(1.25rem - 0.375rem);
   }

   .main{
      min-height: calc(100vh - 7.5rem);
   }

   .main__painel{
      display: flex;
      flex-direction: column;
   }

   .main__title{
      font-size: 1.5rem;
   }

   .main__btn{
   width: 9.004rem;
   height: 2.813rem;
   margin-top: 1.25rem;
   display: flex;
   justify-content: center;
   }

   .main__charts{
      padding: .625rem;
   }

   .main__participaram{
      margin-left: 0;
   }
   
}

@media screen and (max-width: 375px){
   .main__charts{
      width: 100%;
      padding: .315rem;
   }
}

@media screen and (max-width:320px){
   .header__logo{
      font-size: .875rem;
   }

   .header__toggle{
      font-size: 1rem;
   }

   .nav{
      width: 80%;
   }

   .nav__logo-name{
      font-size: .875rem;
   }

   .main__charts{
      padding: 0;
   }
}