/*========== VAR CSS ===========*/
:root{
   /* Conflowerblue mono */
   --Cornflowerblue-darker: #2E446E;
   --Cornflowerblue-dark: #4E74BA;
   --Cornflowerblue: #6494ED;
   --Cornflowerblue-light: #7caaff;
   --Cornflowerblue-contrast: #5BE4F7;

   /* Gray shades*/
   --gray-darker: rgb(64, 64, 64);
   --gray-darker: #808080;
   --gray: #BFBFBF;
   --gray-light: #e2e2e2;
   --White: #FFFFFF;

   /*Margin and Padding*/
   --container: 3.75rem;
}

/*========== RESET ===========*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: monospace;
   background: var(--gray-light);
   color: var(--gray-light);
   margin-top: 3.75rem;
}

a{
   text-decoration: none;
}

/*========== CONTAINER ===========*/
.container{
   max-width: 100%;
   min-height: calc(100vh - 3.75rem);
   padding: var(--container);
}

/*========== HEADER ===========*/
.header{
   background-color: var(--Cornflowerblue);
   position: fixed;
   top: 0;
   width: 100%;
   padding: 0 var(--container);
   box-shadow: 1px 1px 5px rgba(15, 45, 90, 0.1);
   z-index: 1;
}

.header__container{
   height: 3.75rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.875rem 0;
}

.header__logo{
   color: var(--White);
   font-size: 1.125rem;
   font-weight: 900;
}

.header__toggle{
   font-size: 1.25rem;
   cursor: pointer;
   transition: .4s ease-in-out;
}

/*========== NAV ===========*/
.nav{
   background-color: var(--Cornflowerblue-light);
   box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
   position: fixed;
   top: 0;
   left: 0;
   max-width: 100%;
   transition: .4s ease-in-out;
}

.nav__container{
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: auto;
   scrollbar-width: none; /*For mozila*/
}

.nav__container::-webkit-scrollbar {/* For Google Chrome and others */
   display: none;
 }

.nav__logo-link{
   color: var(--White);
   padding: 1.188rem var(--container);
   font-size: 1.125rem;
}

.nav__logo-name{
   font-weight: 900;
}

.nav__list{
   width: 100%;
}

.nav__items{
   width: 100%;
   margin: 2.5rem 0;
   
}

.nav__link{
   display: flex;
   align-items: center;
   color: var(--gray-light);
   padding: 1.25rem var(--container);
   width: 100%;
   font-size: 1rem;
}

.nav__link:hover{
   color: var(--White);
}

.nav__icon{
   font-size: .875rem;
   width: 1.25rem;
   text-align: center;
}

.nav__name{
   width: 100%;
   margin: 0 .313rem 0 .625rem;
}

.nav__subtitle{
   padding: 0 1.563rem;
   margin-bottom: .813rem;
   text-transform: uppercase;
   font-size: .625rem;
   letter-spacing: .1rem;
   color: rgb(97, 127, 184);
}

/*Link Active*/
.active{
   border-left: 0.375rem solid var(--Cornflowerblue-contrast);
   color: var(--White);
   padding: 1.25rem calc(var(--container) - 0.375rem);
}

/* Hiden sidebar*/
.nav--hiden{
   left: -27rem;
}

/*========== MAIN ===========*/
.main{
   color: var(--Cornflowerblue-dark);
   min-height: calc(100vh - 11.25rem);
   margin-left: 23.75rem;
   transition: .4s ease-in-out;
   overflow: hidden;
}

.main__painel{
   display: flex;
   justify-content: space-between;
}

.main__title{
   color: var(--Cornflowerblue-darker);
}

.main__data{
   font-style: italic;
   color: var(--gray-darker);
}

.main__btn{
   background-color: var(--White);
   padding: .625rem;
   border-radius: .625rem;
   font-weight: 600;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
   display: flex;
   align-items: center;
   cursor: pointer;
}

.main__btn:hover{
   background-color: var(--Cornflowerblue-light);
   color: var(--White);
}

.main__icon{
   font-size: 1.125rem;
   margin-right: .5rem;
}

/* Show menu */
.main--move{
   margin-left: 0;
   padding-left: 0;
   transition: .4s ease-in-out;
   overflow: hidden;
}

