
/*.table {
   background-color: rgb(211, 227, 255);
   border-collapse: collapse;
   width: 100%;
   border-radius: .5rem .5rem 0 0;
   overflow: hidden;
   white-space: nowrap;
}

.table__head-tr {
   background-color: rgb(128, 165, 233);
   color: #eee;
   text-align: left;
}

.table__title,
.table__item{
   padding: .938rem;
}

.table__row {
   border-bottom: .063rem solid rgb(243, 246, 250);
}

.table__row:nth-last-of-type(even) {
   background-color: rgb(228, 237, 255);
}

.table__row:last-of-type {
   border-bottom: .125rem solid rgb(128, 165, 233);
}*/

.main__table::-webkit-scrollbar-track {
   background-color: rgb(235, 235, 235);
   border-radius: 10px;
   margin: 5px;
}
.main__table::-webkit-scrollbar {
   width: 6px;
   background-color: rgb(235, 235, 235);
   border-radius: 10px;
   width: 10px;
}
.main__table::-webkit-scrollbar-thumb {
   background-color: cornflowerblue;
   border-radius: 10px;
   margin: 5px;
}

.table{
   background-color: rgb(211, 227, 255);
   border-collapse: collapse;
   width: 100%;
   border-radius: .5rem .5rem 0 0;
   overflow: hidden;
   white-space: nowrap;
}

.thead__row{
   background-color: rgb(128, 165, 233);
   color: #eee;
   text-align: left;
   font-size: 1.125rem;
   font-weight: bold;
}
.thead__data, .tbody__data{
   padding: .938rem;
}

.tbody__row{
   border-bottom: .063rem solid rgb(243, 246, 250);
}

.tbody__row:nth-last-of-type(even) {
   background-color: rgb(228, 237, 255);
}

.t__row:last-of-type {
   border-bottom: .125rem solid rgb(128, 165, 233);
}
